//////////////////////////////////////////////////////////////////////
//  Classes and styles for actors directory section (page & block)  //
//////////////////////////////////////////////////////////////////////

.view--actors-directory {
  
  // .view-list__wrapper {}
  
  .view-list,
  .view-list__wrapper ol,
  .view-list__wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .view-list__item {
    min-height: 200px;
    padding: 20px;
    padding-right: 230px;
    position: relative;
    border-bottom: 1px solid $gray-400;
  }

  .views-field-field-name {
    @extend h3;
  }

  .views-field-field-logotype {
    width: 200px;
    height: 200px;
    @include centerThis('right');
    right: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  .form-item--keys {
    position:relative;

    label {
      display: none;
    }
  }

  .form-item--keys:before {
    @extend .fa;
    content: "\f002";
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    @include centerThis('right');
  }
}

// .actor-related__field {}

.actor-related__field--watershed {
  @extend .badge;
  background-color: $c6-flat-blue;
  color: $white;
  margin-right: 5px;
}

.actor-related__field--group li {
  @extend .badge;
  background-color: $c6-flat-green;
  color: $white;
  margin-right: 5px;
}

.actor-related__field--type {
  @extend .badge;
  background-color: $c6-flat-orange;
  color: $white;
  margin-right: 5px;
}

// Width correction to list actor logos under the announce
.is-directory-announce-showing {
  .view--actors-directory .view-list__wrapper {
    margin-top: 40px;
    margin-right: -270px;
  }
}