///////////////////////////////////////
//  Page cover element in frontpage  //
///////////////////////////////////////

.page-cover {
  @extend .container-fluid;
  height: 600px;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

// .page-cover__img {
//   width: 100%;
//   height: auto;
//   position: absolute;
//   bottom: 0
// }

.page-cover__img {
  background-image: url("#{$assets_dir}/images/ui/bg_cover.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0
}

.page-cover__img:before {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .65) 0%, rgba(0, 0, 0, 0) 100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

@include respondToAbove('width', 1300px) {
  .page-cover {
    height: 700px;
  }
}

@include respondToAbove('width', 1800px) {
  .page-cover {
    height: 800px;
  }
}
