///////////////////////////////////
//  Classes for form components  //
///////////////////////////////////

input[type='text'],
input[type='email'],
input[type='password'],
select,
textarea {
  @extend .form-control;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='submit'] {
  @extend .btn;
  @extend .btn-primary;
}

.form-item {
  margin-bottom: 10px;
}

.form-item label {
  @extend legend;
  display: inline;
  margin-right: 20px;
  font-size: 1.2em;
  color: $gray-600;
  font-weight: 400;
}

.form-actions {
  margin: 20px 0;
  text-align: right;
}

.form-submit {
  margin-left: 10px;
}

#edit-preview {
  @extend .btn-secondary;
}

// .contact-form > .form-item {
//   @extend legend;
// }

#webform-submission-inscripcion-al-directorio-add-form .webform-image-file > .description {
  display: none;
}
