/////////////////////////
//  Header components  //
/////////////////////////

.header {
  background: $linear-blue;
  @include addShadow('depth-2');
}

.is-frontpage .header {
  background: transparent;
  @include addShadow('none');
  // border-bottom: 10px solid transparent;
}

.logo__img {
  transform: scale(0.8);
  transition: transform 0.2s;
}

.is-frontpage .logo__img {
  transform: scale(1);
}

.navigation__wrapper {
  pointer-events: none;
  opacity: 0;
  transform: translate(0%, -100%);
  transition: transform 0.2s, opacity 0.2s;
  background-color: $c6-gray-blue;
  background-image: url("#{$assets_dir}/images/ui/bg_menu.png");
  background-size: cover;
  @include addShadow('depth-5');
}

.navigation__wrapper.is-open {
  pointer-events: all;
  opacity: 1;
  transform: translate(0%, 0%);
}

.main-menu-button {
  @extend .row;
  width: 130px;
  height: 40px;
  @include centerThis('right');
  line-height: 40px;
  color: $white;
  cursor: pointer;
}

.main-menu-button__icon-col {
  @extend .col-4;
  position: relative;
  text-align: right;
}

.main-menu-button__icon {
  position: absolute;
  right: 10px;
  font-size: 2em;
  transition: transform 0.2s, opacity 0.2s;
}

.main-menu-button__label-col {
  @extend .col-8;
  position: relative;
  text-align: left;
}

.main-menu-button__label {
  position: absolute;
  left: 0;
  font-size: 1.4em;
  font-weight: 400;
  transition: transform 0.2s, opacity 0.2s;
}

.main-menu-button__icon--menu,
.main-menu-button__label--menu {
  transform: translate(0%, 0%);
  opacity: 1;
}

.main-menu-button__icon--close {
  transform: translate(0%, -100%);
  opacity: 0;
}

.main-menu-button__label--close {
  transform: translate(0%, 100%);
  opacity: 0;
}

.banner__wrapper.is-menu-open {
  .logo__img {
    transform: scale(1);
  }

  .main-menu-button__icon--menu {
    transform: translate(0%, 100%);
    opacity: 0;
  }

  .main-menu-button__label--menu {
    transform: translate(0%, -100%);
    opacity: 0;
  }

  .main-menu-button__icon--close,
  .main-menu-button__label--close {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

// Navigation menu styles
.navigation {
  @extend .row;
  padding-bottom: 40px;

  .menu__wrapper {
    @extend .col-4;
  }

  .menu__nav {}

  .menu__title {
    font-size: 1.2em;
    color: $white;
  }

  .menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu__item {}

  .menu__link {
    display: inline-block;
    padding: 6px 12px;
    color: rgba($white, 0.8);
    font-weight: 400;
    background-color: transparent;
    text-decoration: none !important;
    transition: background-color 0.2s, color 0.2s;
  }

  .menu__link:hover {
    @extend .rounded;
    background-color: $c6-light-green;
    color: rgba($c6-gray-blue, 0.7);
  }

  .menu__link.is-active {
    font-weight: bold;
    color: rgba($white, 1);
  }
}
