/////////////////////////////////////
//  Frontpage elements and styles  //
/////////////////////////////////////

.is-frontpage {

  .page-title {
    max-width: 450px;
    border-bottom: 0px solid transparent;
  }

  .page-title__header {
    color: $white;
    font-size: 2em;
    line-height: 1.6em;
  }

  .page-content {
    max-width: 500px;
    margin-bottom: 100px;
    padding-left: 4px;
  }

  .node-generic_page__content {
    font-size: 1.2em;
    line-height: 1.6em;
    // color: rgba($white, 0.9);
    color: $white;
    text-shadow: 0px 0px 10px $black;
  }
}

.menu__wrapper--block-homelinks {
  padding-top: 20px;
  position: absolute;
  right: 0;
  z-index: 10;

  .menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu__item {
    @extend .btn;
    display: block;
    margin: 20px 0;
    background-color: $c6-light-green;
    transition: background-color 0.2s;
  }

  .menu__item:hover {
    background-color: $c6-pale-green;
  }
  
  .menu__link {
    font-weight: bold;
    text-decoration: none !important;
    color: $c6-shadow-green !important;
  }
}


// Homepage elements
.homepage-map {
  width: 665px;
  height: 481px;
  background-image: url("#{$assets_dir}/images/homepage_map/map.png");
  background-size: cover;
  position: relative;
}

.homepage-map__points {
  width: 100%;
  height: 100%;
  position: absolute;
}

.homepage-map__label {
  display: block;
  font-weight: bold;
  color: $black;
  font-size: 1.6em;
  position: absolute;
  text-decoration: none !important;
}

.homepage-map__label--baluarte {
  top: 50%;
  left: 2%;
}

.homepage-map__label--san-pedro {
  top: 60%;
  left: 3%;
}

.homepage-map__label--vallarta {
  left: -2%;
  top: 70%;
}

.homepage-map__label--tuxpan {
  top: 38%;
  left: 69%;
}

.homepage-map__label--antigua {
  top: 48%;
  left: 72%;
}

.homepage-map__label--jamapa {
  left: 75%;
  top: 58%;
}

.homepage-map__target {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("#{$assets_dir}/images/homepage_map/map_target.png");
  overflow: hidden;
  color: transparent !important;
  position: absolute;
  opacity: 0.9;
  transform: scale(0.8);
  transition: opacity 0.2s, transform 0.2s;
}

.homepage-map__target:hover {
  opacity: 1;
  transform: scale(1);
}

.homepage-map__target--baluarte {
  top: 39.5%;
  left: 24%;
}

.homepage-map__target--san-pedro {
  top: 48.8%;
  left: 28%;
}

.homepage-map__target--vallarta {
  left: 26.6%;
  top: 58%;
}

.homepage-map__target--tuxpan {
  top: 55%;
  left: 54%;
}

.homepage-map__target--antigua {
  top: 65%;
  left: 57%;
}

.homepage-map__target--jamapa {
  left: 60%;
  top: 70.9%;
}

.homepage-map__indicators {
  width: 544px;
  height: 157px;
  background-image: url("#{$assets_dir}/images/homepage_map/map_indicators.png");
  position: absolute;
  top: 44%;
  left: 3%;
  pointer-events: none;
}