///////////////////////////////////////
//  Leaflet maps general components  //
///////////////////////////////////////

.leaflet-map {
  height: 450px;
  max-width: $content-max-width;
  z-index: 5;
}

.leaflet-control-layers {
  width: 230px;
  max-height: 200px;
  overflow: auto;
}