///////////////////////////////
//  Featherlight modal mods  //
///////////////////////////////

.featherlight.cuencas-modal {
  .featherlight-content {
    width: 100%;
    max-width: $content-max-width;
    background-color: $gray-200;
    padding: 30px 30px 0;
    @include addShadow('depth-3');
  }

  .featherlight-close-icon {
    font-size: 2em;
    top: 5px;
    right: 5px;
    color: $gray-600;
    font-weight: 400;
  }
}

.featherlight.cuencas-modal:last-of-type {
  background-color: rgba($white, 0.8);
}

.featherlight.cuencas-modal--pamic-aditional-text {
  .featherlight-content {
    @extend .formated-page-content;
    max-width: $content-max-width - 200px;

    h1, h2, h3, h4, h5, h6 {
      color: $gray-700 !important;
    }
  }
}

.featherlight.cuencas-modal--pamic-zoomable-image,
.featherlight.cuencas-modal--pamic-infographic {
  .featherlight-content {
    width: 70%;
    max-width: unset;
    height: 95%;
  }
}

.featherlight.cuencas-modal--pamic-map {
  .featherlight-content {
    width: 100%;
    max-width: unset;
    height: 100%;
    max-height: unset;
    margin: 0;
  }
}

.featherlight.cuencas-modal--pamic-infographic-activities {}

.featherlight.cuencas-modal--pamic-infographic-introduction {
  .featherlight-content {
    width: 600px;
    max-width: 90%;
    height: auto;
    max-height: 90%;
    margin: 0;

    .pamic-infographic__element-content-header {
      padding: 0;
      padding-bottom: 20px;
      background-color: transparent;
    }

    .pamic-infographic__element-content-html {
      img {
        width: 100%;
      }
      ul {
        padding: 0 20px;
      }
    }
  }
}