////////////////////////////////////////////////////
//  General elements and styles for page content  //
////////////////////////////////////////////////////

.page-title {
  margin-bottom: 20px;
  border-bottom: 3px solid $c6-pale-green;
}

.page-title__header {
  color: $c6-flat-orange;
}

.tabs-menu {
  @extend .btn-group;
  @extend .btn-group-toggle;
  padding: 0;
}

.tabs-menu__item {
  @extend .btn;
  @extend .btn-secondary;
  font-size: 0.8em;
  padding: 0;
}

.tabs-menu__item.is-active {
  @extend .active;
}

.tabs-menu__link {
  display: block;
  padding: 10px 20px;
  color: $white !important;
}

.formated-page-content {
  font-weight: 200;
  font-size: 1.1em;
  line-height: 1.6em;
  color: $gray-600;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
    color: $c6-light-blue;
  }

  p {
    margin-bottom: 1em;
  }

  img,
  figure {
    margin: 0 30px;
    @include addShadow('depth-1');
  }

  img.align-left,
  figure.align-left {
    margin-left: 0;
    margin-bottom: 1.2em;
    @include addShadow('depth-1');
    max-width: 60%;
  }

  img.align-right,
  figure.align-right {
    margin-right: 0;
    margin-bottom: 1.2em;
    @include addShadow('depth-1');
    max-width: 60%;
  }

  img.align-center,
  figure.align-center {
    display: table;
    margin: 0px auto;
    margin-bottom: 1.2em;
    max-width: 90%;
  }

  figure img {
    margin: 0 !important;
    @include addShadow('none');
    width: 100%;
    max-width: unset;
  }

  figcaption {
    padding: 6px 20px;
    background-color: $c6-light-blue;
    color: $white;
  }
}

// .node-generic_page {}

// .node-generic_page__title {}

.node-generic_page__content {
  @extend .formated-page-content;
}

// .node-pamic_page__content {}

// Pages with directory announce
.content.is-directory-announce-showing {
  padding-right: 270px;
}

.directory-announce {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 400px;
}

.pamic-announce__img {
  width: 100%;
  margin-top: 30px;
  // @include centerThis();
}