///////////////////////////
//  PAMIC page elements  //
///////////////////////////

// Map
.paragraph--type--map {
  margin: 20px 0;
  margin-bottom: 30px;
}

.pamic-map {
  @include addShadow('depth-1');
}

.pamic-map__leaflet-map-container {
  position: relative;
}

.pamic-map__modal-zoom-button {
  @extend .rounded;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  text-align: center;
  line-height: 30px;
  background-color: $c6-light-blue;
  color: $white !important;
  @include addShadow('depth-1');
  outline: none !important;
}

.pamic-map__key-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 20;
  width: 230px;
  max-height: 50%;
  overflow: auto;
  @extend .rounded;
  @include addShadow('depth-1');
  background-color: $c6-flat-blue;
}

.pamic-map__key-items-header {
  padding: 5px 10px;
  position: sticky;
  top: 0;
  background-color: $c6-flat-blue;
}

.pamic-map__key-items-title {
  @extend .h5;
  color: $white;
}

// .pamic-map__key-item {}

.pamic-map__key-item-header {
  padding: 2px 10px;
  background-color: $c6-gray-blue;
}

.pamic-map__key-item-title {
  @extend .h6;
  color: $white;
}

.pamic-map__key-item-content-img {
  width: 100%;
  height: auto;
}

.pamic-map__key-container--capture {
  @extend .pamic-map__key-container;
  @extend .container;
  max-width: unset;
  z-index: 999;
  width: 100%;
  left: 0;
  max-height: unset;

  .pamic-map__key-items {
    @extend .row;
    background-color: $white;
    color: $c6-flat-blue;
    padding-bottom: 20px;
  }

  .pamic-map__key-item {
    @extend .col;
    padding: 0;
  }

  .pamic-map__key-item-content-img {
    max-width: 200px;
  }
}

.pamic-map__extra-data {
  @extend .container;
  @extend .row;
  @extend .no-gutters;
  padding: 0;
  background-color: $c6-flat-blue;
  color: $white;
}

.pamic-map__description-column {
  @extend .col-8;
  padding: 10px 20px;
  overflow: auto;
}

.pamic-map__download-column {
  @extend .col-4;
  min-height: 100%;
  padding: 15px;
  background-color: $c6-gray-blue;
  overflow: auto;
}

.pamic-map__capture-download {
  margin-bottom: 15px
}

// .pamic-map__layer-download {}

.pamic-map__download-column-label {
  @extend .h5;
}

.pamic-map__download-column-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// .pamic-map__download-column-item {}

.pamic-map__download-column-link,
.pamic-map__capture-button {
  display: block;
  position: relative;
  padding: 10px;
  padding-left: 30px;
  color: $white !important;
}

.pamic-map__download-icon {
  @extend .fa;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  @include centerThis('left');
  left: 5px;
}

.pamic-map__download-column-link:after {
  @extend .pamic-map__download-icon;
  content: '\f1c6';
}

.pamic-map__capture-button:after {
  @extend .pamic-map__download-icon;
  content: '\f03e';
}

.pamic-map__capture-button.is-loading {
  pointer-events: none;
  cursor: not-allowed !important;
}

.pamic-map__capture-button.is-loading:after {
  @extend .pamic-map__download-icon;
  @extend .fa-spinner;
  @extend .fa-pulse;
  content: '\f110';
}

.pamic-map__modal-container {
  width: 100%;
  height: 100%;

  .pamic-map {
    position: relative;
    height: 100%;
    padding-bottom: 120px;
    @include addShadow('none');
  }

  .pamic-map__leaflet-map-container {
    height: 100%;
  }

  .pamic-map__modal-zoom-button {
    display: none;
  }

  .pamic-map__extra-data {
    height: 120px;
    max-width: unset;
    position: absolute;
    bottom: 0;
  }

  .leaflet-map {
    width: 100%;
    max-width: unset;
    height: 100%;
  }

  .pamic-map__description-column,
  .pamic-map__download-column {
    max-height: 100%;
  }
}

// Text with detail
.pamic-text__original-text,
.pamic-text__aditional-text {
  @extend .formated-page-content;
}

.pamic-text__aditional-text {
  display: none;
}

.pamic-text__button-wrapper {
  padding: 6px 0;
  margin-bottom: 1em;
  text-align: right;
}

.pamic-text__more-button {
  @extend .btn;
  @extend .btn-primary;
  text-transform: none;
  padding: 10px 40px;
}

.pamic-download-block {
  @extend .formated-page-content;
  clear: both;
}

// Download block

.pamic-download-block__contents {
  .file {
    display: block;
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px 20px;
    padding-left: 40px;
    @extend .rounded;
    background-color: $gray-300;
    @include addShadow('depth-1');

    a {
      color: $gray-600 !important;
      font-size: 1.2em;
    }
  }

  .file:after {
    content: '\f016';
    @extend .fa;
    display: block;
    width: 22px;
    height: 22px;
    font-size: 22px;
    line-height: 22px;
    @include centerThis('left');
    left: 10px;
  }

  .file--x-office-document:after {
    content: '\f1c2';
  }

  .file--application-pdf:after {
    content: "\f1c1";
  }

  .file--mime-application-zip:after {
    content: '\f1c6';
  }

  .file--image:after {
    content: '\f1c5';
  }
}

// Zoomable image

.pamic-zoomable-image {
  margin: 30px 0;
  text-align: center;
  @extend .formated-page-content;
}

.pamic-zoomable-image__thumbnail {
  margin: 0 auto;
}

.pamic-zoomable-image__thumbnail-link {
  display: inline-block;
  position: relative;
}

.pamic-zoomable-image__thumbnail-link:after {
  content: "\f00e";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 0;
  right: 0;
  @extend .rounded;
  @extend .fa;
  color: $white;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  background-color: $c6-light-blue;
}

.pamic-zoomable-image__thumbnail-img {
  max-width: $content-max-width;
  height: auto;
}

.pamic-zoomable-image__fullsize-container {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.pamic-zoomable-image__fullsize {
  position: absolute;
  width: 100%;
  height: 95%;
  top: 5%;
  overflow: auto;
  text-align: center;
}

.pamic-zoomable-image__fullsize-toggle {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-primary;
  position: absolute;
  top: -5px;
  z-index: 2;
}

.pamic-zoomable-image__fullsize-img {
  margin: 0 auto;
}

.pamic-zoomable-image__fullsize-container.is-resposive {
  .pamic-zoomable-image__fullsize-img {
    width: 100%;
    height: auto;
    // @include centerThis();
  }
}

// Infographic

.pamic-infographic {
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}

.pamic-infographic__background-layer {
  width: 100%;
}

.pamic-infographic__background-layer-image {
  width: 100%;
  height: auto;
}

.pamic-infographic__overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.pamic-infographic__elements-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.pamic-infographic__element {
  // width: 12%;
  height: auto;
  position: absolute;
  @extend .do-jump;
}

.pamic-infographic__element--small {
  width: 12%;
}
.pamic-infographic__element--medium {
  width: 20%;
}
.pamic-infographic__element--large {
  width: 30%;
}

.pamic-infographic__element-contents {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.pamic-infographic__element-content-header {
  background: $white;
  padding: 30px 40px;
  font-size: 2em;
  position: sticky;
  top: 0;
  z-index: 10;

  p {
    margin: 0;
  }
}

.pamic-infographic__element-image,
.pamic-infographic__element-content-image {
  width: 100%;
  height: auto;
}
