////////////////////////////////////////////////////
//  General elements and styles for page content  //
////////////////////////////////////////////////////

.pamic-index {
  height: 100%;
  background: rgba($white, 0.5);
  border-right: 1px solid $gray-300;
  margin-right: -1px;
  transform: translate(0);
  transition: transform 0.4s;
}

.pamic-index.is-hidden {
  transform: translate($pamic-index-pixel-translation);
}

.pamic-index__cover {
  width: 100%;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $c6-flat-blue;
  position: relative;
}

.pamic-index__header {
  width: 100%;
  padding: 15px 20px;
  padding-right: $pamic-index-width--close;
  position: absolute;
  bottom: 0;
  color: $white;
  font-size: 1.2em;
  // font-weight: 400;
  letter-spacing: 0.06em;
  vertical-align: bottom;
}

.pamic-index__control {
  width: $pamic-index-width--close;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.pamic-index__button {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: $white !important;
  text-align: center;
  font-size: 1.3em;
  line-height: 50px;
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 0.3s, transform 0.6s;
}

.pamic-index__button--open {
  transform: translate(50px, 0px);
  opacity: 0;
}

.pamic-index.is-hidden {
  .pamic-index__button--open {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  .pamic-index__button--close {
    transform: translate(-50px, 0px);
    opacity: 0;
  }
}

.pamic-index__menu {
  padding: 20px;
  padding-right: $pamic-index-width--close;

  a {
    display: block;
    margin: 20px 0;
    color: $black;
    transition: color 0.2s;
  }

  a:hover {
    text-decoration: none;
    color: $c6-gray-blue;
  }

  .is-active a {
    font-weight: bold;
  }
}

// Layout alteration

.layout-container.is-displaying-pamic-index {
  .system,
  .content,
  .footer {
    transform: translate(0px, 0px);
    transition: transform 0.2s;
  }
}

.layout-container.is-displaying-pamic-index--hidden {
  .system,
  .content,
  .footer {
    transform: translate($pamic-index-pixel-translation + 120px, 0px);
  }
}
