{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{# Attaching featherlight on every paragraph--text #}
{{ attach_library('cuencas/zoomable-image') }}

{% set image_uri = paragraph.field_full_size_image.entity.fileuri %}
{% set preview_image_url = image_uri | image_style('large') %}
{% set full_image_url = file_url(image_uri) %}
{% set image_alt = paragraph.field_full_size_image.alt %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="pamic-zoomable-image">
        <div class="pamic-zoomable-image__thumbnail">
          <a href="#" class="pamic-zoomable-image__thumbnail-link" data-featherlight="#pamic_zoomable_image__{{ paragraph.id() }}" data-featherlight-variant="cuencas-modal cuencas-modal--pamic-zoomable-image">
            <img src="{{ preview_image_url }}" alt="{{ image_alt }}" class="pamic-zoomable-image__thumbnail-img">
          </a>
        </div>
        <div class="pamic-zoomable-image__fullsize-container" id="pamic_zoomable_image__{{ paragraph.id() }}">
          <a href="#" id="pamic_zoomable_image__{{ paragraph.id() }}_toggle" class="pamic-zoomable-image__fullsize-toggle">{{ 'Alternar zoom'|t }}</a>
          <div class="pamic-zoomable-image__fullsize">
            <img src="{{ full_image_url }}" alt="{{ image_alt }}" class="pamic-zoomable-image__fullsize-img">
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
