{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# Attaching featherlight on every paragraph--text #}
{{ attach_library('cuencas/featherlight') }}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="pamic-infographic pamic-infographic--{{ infographic_type }}">
        <div class="pamic-infographic__background-layer">
          <img src="{{ infographic_background }}" alt="" class="pamic-infographic__background-layer-image">
        </div>
        <div class="pamic-infographic__elements-layer">
          {% for element in infographic_elements %}
            <div class="pamic-infographic__element pamic-infographic__element--{{ element.size }}" style="left: {{ element.x_coord }}; top: {{ element.y_coord }};">
              <a href="#" class="pamic-infographic__element-link" data-featherlight="#infographic_element_{{ element.id }}" data-featherlight-variant="cuencas-modal cuencas-modal--pamic-infographic cuencas-modal--pamic-infographic-{{ infographic_type }}">
                <img src="{{ element.image }}" alt="" class="pamic-infographic__element-image">
              </a>
              <div class="pamic-infographic__element-contents" id="infographic_element_{{ element.id }}">
                <div class="pamic-infographic__element-content-header">
                  {{ element.content_header | raw }}
                </div>
                <div class="pamic-infographic__element-content-body">
                  {% if element.image_contents %}
                    <img src="{{ element.image_contents }}" alt="" class="pamic-infographic__element-content-image">
                  {% elseif element.html_contents %}
                    <div class="pamic-infographic__element-content-html">
                      {{ element.html_contents | raw }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="pamic-infographic__overlay-layer">
          <img src="{{ infographic_overlay }}" alt="" class="pamic-infographic__overlay-layer-image">
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
