{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.banner: Logo and project brand.
 * - page.navigation: Items for the menu region.
 * - page.pamic_navigation: Items for the current PAMIC index.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar: Items for the sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{%
  set layoutClasses = [
    'layout-container',
    logged_in ? 'is-logged-in',
    is_front ? 'is-frontpage'
  ]
%}
<div{{ attributes.addClass(layoutClasses) }}>

  <header role="banner" class="header__wrapper">
    <div class="header">
      <div class="banner__wrapper">
        {{ page.banner }}
        <div class="main-menu-button">
          <div class="main-menu-button__icon-col">
            <span class="main-menu-button__icon main-menu-button__icon--close"><i class="fa fa-times"></i></span>
            <span class="main-menu-button__icon main-menu-button__icon--menu"><i class="fa fa-bars"></i></span>
          </div>
          <div class="main-menu-button__label-col">
            <span class="main-menu-button__label main-menu-button__label--menu">MENÚ</span>
            <span class="main-menu-button__label main-menu-button__label--close">CERRAR</span>
          </div>
        </div>
      </div>
      <div class="navigation__wrapper">
        {{ page.navigation }}
      </div>
    </div>
  </header>

  {% if is_front %}
  <div class="page-cover">
    {# <img src="/themes/custom/cuencas/assets/images/ui/bg_cover.png" alt="" class="page-cover__img"> #}
    <div class="page-cover__img"></div>
  </div>
  {% endif %}

  <div class="system__wrapper">
  {% if page.help %}
    {{ page.help }}
  {% endif %}
    {{ page.system }}
  </div>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="content__wrapper">
      {{ page.pamic_navigation }}
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      <div class="footer__wrapper">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>{# /.layout-container #}
