////////////////////////////////////
//  Layout variables definitions  //
////////////////////////////////////

.single-column-centered {
  max-width: $content-max-width;
  margin: 0 auto;
}

.layout-container {
  position: relative;
  @extend .container-fluid;
  padding: 0;
}

.header__wrapper {
  @extend .container-fluid;
  padding: 0;
  position: fixed;
  z-index: $header-zindex;
}

// .header {}

.is-frontpage .header__wrapper {
  position: relative;
}

.banner__wrapper {
  @extend .single-column-centered;
  position: relative;
  z-index: 10;
}

.banner {
  padding: 10px;
}

.navigation__wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 110px; /* banner height */
}

.navigation {
  @extend .single-column-centered;
  padding: 20px 0;
}

.system__wrapper {
  @extend .single-column-centered;
  padding-top: 110px; /* banner height */
}

.is-frontpage .system__wrapper {
  padding-top: 0px;
}

.content__wrapper {
  @extend .single-column-centered;
}

.pamic_navigation {
  width: $pamic-index-width;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 100px; /* banner height */
}

// HACK WARNING: Disabling cache at block level in Pamic Index block, made a new
// div wrapper appear. This hack forces this new div to grow full height, otherwise,
// pamic index was not rendering on the full screen height.

.pamic_navigation > div {
  height: 100%;
}

.layout-container.is-displaying-pamic-index {
  .system__wrapper,
  .content__wrapper,
  .footer {
    max-width: $content-max-width + $pamic-index-width;
    padding-right: 20px;
    padding-left: $pamic-index-width + 20px;

  }
}

.content {
  position: relative;
  padding: $content-padding;
  overflow: hidden;
}

.footer__wrapper {
  @extend .container-fluid;
  padding: 0;
}

.footer {
  @extend .single-column-centered;
  text-align: center;

  // Hack alert:
  // The pointer-events fix works to stop the footer from blocking
  // clicks to the sidebar, but the root of the issue lies at the
  // translate transformation that is applied to the footer on the
  // _pamic-index file, which causes the element to get its own stacking
  // group and break the page z-index.
  // If the footer ever needs links, the z-index of elements will
  // need to be fixed.
  pointer-events: none;
}

// Admin toolbar modifiers

.toolbar-fixed.toolbar-vertical,
.toolbar-fixed.toolbar-horizontal {
  .pamic_navigation {
    top: 39px;
  }
}

.toolbar-fixed.toolbar-horizontal.toolbar-tray-open {
  .pamic_navigation {
    top: 78px;
  }
}

.toolbar-fixed.toolbar-vertical.toolbar-tray-open {
  .pamic_navigation {
    top: 39px;
    left: 15rem;
  }
}

// Responsive modifiers

@include respondToUnder('width', $page-minimal-width) {
  .layout-container.is-displaying-pamic-index {
    .system__wrapper,
    .content__wrapper,
    .footer {
      max-width: unset;
      width: 100%;
    }
  }
}
