///////////////////////////////////////////////
//  Element and components size definitions  //
///////////////////////////////////////////////

// Disabled to use bootstrap included size limits
// // Viewport Width Sizes
// $vw_xs: 576px;
// $vw_sm: 720px;
// $vw_md: 940px;
// $vw_lg: 1024px;
// $vw_xl: 1366px;

// // Viewport Height Sizes
// $vh_xs: 480px;
// $vh_sm: 480px;
// $vh_md: 640px;
// $vh_lg: 768px;
// $vh_xl: 980px;

// :: Screen conditions ::
//   -Tiny: (max-width: $vw_xs), (max-height: $vh_xs); // OR
//   -Phone: (max-width: $vw_sm), (max-height: $vh_sm); // OR
//   -Tablet: (max-width: $vw_md), (max-height: $vh_md); // OR
//   -Desktop: (min-width: $vw_lg) and (min-height: $vh_lg); // AND
//   -Larger: (min-width: $vw_xl) and (min-height: $vh_xl); // AND

// Disabled to use bootstrap included aspect responsive function
// @mixin respondTo($media) {
//   @if $media == "tiny" {
//     @media only screen and (max-width: $vw_xs), (max-height: $vh_xs) { @content; }
//   } @else if $media == "phone" {
//     @media only screen and (max-width: $vw_sm), (max-height: $vh_sm) { @content; }
//   } @else if $media == "tablet" {
//     @media only screen and (max-width: $vw_md), (max-height: $vh_md) { @content; }
//   } @else if $media == "desktop" {
//     @media only screen and (min-width: $vw_lg) and (min-height: $vh_lg) { @content; }
//   } @else if $media == "larger" {
//     @media only screen and (min-width: $vw_xl) and (min-height: $vh_xl) { @content; }
//   }
// }

@mixin respondToUnder($selector, $value) {
  @if $selector == "width" {
    @media only screen and (max-width: $value) { @content; }
  } @else if $selector == "height" {
    @media only screen and (max-height: $value) { @content; }
  } 
}

@mixin respondToAbove($selector, $value) {
  @if $selector == "width" {
    @media only screen and (min-width: $value) { @content; }
  } @else if $selector == "height" {
    @media only screen and (min-height: $value) { @content; }
  } 
}