//////////////////////////////////////
//  Color Vars and Color Overrides  //
//////////////////////////////////////

$c6-light-blue: #26A4D2;
$c6-flat-blue: #009ABF;
$c6-gray-blue: #00616E;
$c6-light-green: #B3CC30;
$c6-pale-green: #9DB122;
$c6-shadow-green: #5F681B;
$c6-yellow-green: #DEE901;
$c6-flat-green: #3C8130;
$c6-flat-orange: #D26D25;

$primary:       $c6-flat-blue !default;
$secondary:     $c6-light-green !default;
$success:       $c6-flat-green !default;
$info:          $c6-light-blue !default;
$warning:       $c6-flat-orange !default;
// $danger:        $red !default;
// $light:         $white !default;
// $dark:          $gray-800 !default;


// Gradients
$linear-green: linear-gradient(to right, $c6-flat-green, $c6-light-green);
$linear-yellow-green: linear-gradient(to right, $c6-light-green, $c6-yellow-green);
$linear-blue: linear-gradient(to right, $c6-gray-blue, $c6-flat-blue);