////////////////////////////////////
//  Layout variables definitions  //
////////////////////////////////////

// Header vars
$header-zindex: 20;

// Content vars
$content-max-width: 900px;
$content-padding: 20px;

// Pamic Index vars
$pamic-index-width: 300px;
$pamic-index-width--close: 40px;
$pamic-index-pixel-translation: $pamic-index-width--close - $pamic-index-width;

// Global vars
$page-minimal-width: $content-max-width + $pamic-index-width + 100px;