////////////////////
//  Global styles //
////////////////////

body {
  background: linear-gradient(to bottom, $white, $gray-300);
  min-height: 100vh;
}

.status-message {
  @extend .alert;
  color: $white;

  pre {
    color: $white;
  }

  a {
    color: $white !important;
  }
}

.status-message--error {
  @extend .alert-danger;
}

.status-message--warning {
  @extend .alert-warning;
}

.status-message--status {
  @extend .alert-success;
  color: $c6-light-green;
  
  pre {
    color: $c6-light-green;
  }
}