{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% set image_uri = content.field_announce_image.0['#item'].entity.uri.value %}
{% set image_url = file_url(image_uri) %}
{% set image_alt = content.field_announce_image.0['#item'].entity.alt.value %}
{% set link_url = content.field_announce_link[0]['#url']|render %}

<div{{ attributes.addClass('directory-announce') }}>
  {% block content %}
    <div class="pamic-announce">
      <a href="{{ link_url }}" target="_blank" class="pamic-announce__link">
        <img src="{{ image_url }}" alt="{{ image_alt }}" class="pamic-announce__img">
      </a>
    </div>
  {% endblock %}
</div>
