{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div{{ attributes.addClass('pamic-index') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="pamic-index__cover" style='background-image: url("{{ header_image.path }}");'>
      <div class="pamic-index__header">
        {{ content.field_watershed_name[0] }}
      </div>
      <div class="pamic-index__control">
        <a href="#" class="pamic-index__button pamic-index__button--close">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <a href="#" class="pamic-index__button pamic-index__button--open">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="pamic-index__menu">
      {{ content.field_index_links }}
    </div>
  {% endblock %}
</div>
