{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'pamic_map__paragraph--' ~ paragraph.id()
  ]
%}

{# Attaching featherlight on every paragraph--text #}
{{ attach_library('cuencas/pamic-maps') }}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="pamic-map" id="pamic_map_container_{{ paragraph.id() }}">
        <div class="pamic-map__leaflet-map-container">
          <div id="map_{{ paragraph.id() }}" class="leaflet-map"></div>
          <a href="#" class="pamic-map__modal-zoom-button" data-id="{{ paragraph.id() }}" data-content="#pamic_map_container_{{ paragraph.id() }}" data-container=".pamic_map__paragraph--{{ paragraph.id() }}">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
          </a>
          {% if map_key %}
          <div class="pamic-map__key-container">
            <div class="pamic-map__key-items-header">
              <span class="pamic-map__key-items-title">{{ 'Simbología'|t }}</span>
            </div>
            <div class="pamic-map__key-items">
            {% for key in map_key %}
              <div class="pamic-map__key-item">
                <div class="pamic-map__key-item-header">
                  <span class="pamic-map__key-item-title">{{ key.title }}</span>
                </div>
                <div class="pamic-map__key-item-content">
                  <img src="{{ file_url(key.uri) }}" alt="{{ key.alt }}" class="pamic-map__key-item-content-img">
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
        <div class="pamic-map__extra-data">
          <div class="pamic-map__description-column">
            {{ content.field_description }}
          </div>
          <div class="pamic-map__download-column">
            <div class="pamic-map__capture-download">
              <a href="#" class="pamic-map__capture-button" data-id="{{ paragraph.id() }}">{{ 'Descargar mapa como imagen'|t }}</a>
            </div>
            <div class="pamic-map__layer-download">
              <span class="pamic-map__download-column-label">{{ 'Descargas de capas'|t }}</span>
              <ul class="pamic-map__download-column-list"></ul>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
